include *.rst
include *.txt
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include moosegesture *.py
recursive-include tests *.py